@charset "utf-8";

@use 'sass:list';

@import "variable";
@import "base";
@import "etc";


.wrap {
    height: 100%;
}

header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80px;
    background-color: #FFF;
    text-align: center;
    z-index: 1;
}

section {
    padding-top: 80px;

    .section {
        width: 100%;
        min-height: 500px;
        border-bottom: 1px solid #CCC;

        .section-head {
            margin: 0;
            padding: 20px;

            h1 {
                margin: 0;
                font-size: 20px;
                color: #333;
            }
        }

        .section-body {
            padding: 0 20px;
            height: 100%;
        }
    }
}

@for $i from 1 through list.length($bgColor) {
    .bg-#{$i} {
        background-color: nth($bgColor, $i);
    }
}



/* CSS Class */

/* clip-path */
@for $i from 1 through 3 {
    .column-count-#{$i} {
        column-count: #{$i};
        gap: 100px
    }
}

.clip-path-circle {
    clip-path: circle(40%);
}

.clip-path-ellipse {
    clip-path: ellipse(130px 140px at 10% 20%);
}

.clip-path-polygon {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.clip-path-path {
    clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');
}

.clip-path-rect {
    clip-path: rect(5px 5px 160px 145px round 20%);
}

.clip-path-xywh {
    clip-path: xywh(0 5px 100% 75% round 15% 0);
}


/* accent-color */
.accent-color {
    input {
        accent-color: auto;
        display: block;
        width: 30px;
        height: 30px;
    }

    .purple {
        accent-color: rebeccapurple;
    }

    .green {
        accent-color: green;
    }

    .red {
        accent-color: red;
    }

    .yellow {
        accent-color: yellow
    }

    .black {
        accent-color: black;
    }
}

.backdrop-filter {

    .container {
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-image: url("https://a7d7860711ce4a6ff5de7d38b5d8ea3e987f5acb.mdnplay.dev/en-US/docs/Web/CSS/backdrop-filter/anemones.jpg");
    }

    .box {
        padding: 20px;
        border-radius: 10px;
    }

    .blur {
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(2px);
    }

    .invert {
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: invert(80%);
    }

    .sepia {
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: sepia(90%);
    }
}